body {
    background-image: url(IMG_2246.jpg);
   
    
    background-size: 100% auto;
    background-width: 100%;
    background-height:100%;
  }
  
  
  .start-button {
    display: inline-block;
    margin: 0;
    width: 100px;
    
  }
  
  .next-button {
    display: inline-block;
    margin: 0;
    width: 100px;
    
  }
  
  .page {
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    
    
  }
  
  
  
  #answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
   
  }
  #answers button {
  width: 310px;
  }
  
  h1 {
    font-size: 50px;
    color: whitesmoke;
  }
  h2{
    font-size: 25px;
    color:whitesmoke
  }
  #final-score {
    font-size: 25px;
    color:whitesmoke;
  
  }
  #time-left {
    color:whitesmoke;
    font-size: 50px;
  }
  
  
  .answer-button:nth-child(1) {
    color:white; background: #666666; padding: 5px; margin-left: 35px;
  }
  
  .answer-button:nth-child(2) {
    color:white; background: #777777; padding: 5px; margin-left: 35px;
  }
  
  .answer-button:nth-child(3) {
    color:white; background: #888888; padding: 5px; margin-left: 35px;
  }
  
  .answer-button:nth-child(4) {
    color:white; background: #999999; padding: 5px; margin-left: 35px;
  }
  
  @media screen and (max-width: 786px) {
    body {
        display: flex;
        flex-direction: column;
  
    }
  }
  
  
   .alert-success{
    color: green;
    text-align: center;
    font-size: 40px;
   }
  
   .alert-error{
    color: red;
    text-align: center;
    font-size: 40px;
   }
   
  
  
   .div {
    color: whitesmoke;
   }